body {
background-color: #7E8C61;
margin: 0;
}

h1, .flex, {
    font-family: 'Montserrat', Courier, monospace;
    color: #F27649;
    text-align: center;
    display: flex;
}

p {
    font-family: Helvetica, Arial, sans-serif, Courier, monospace;
    font-size: larger;
    color: #D9B777;
    text-align: center;

}

img{
    width: 100%; 
    display: flex
}

div {
display: flex;
justify-content: space-between;
  
}

.images3, .images4, .images5 {
    flex-direction: raw;
    flex-wrap: nowwrap;
    display: flex;
    flex: auto;
    gap: 20px;
    margin: 20px;
    justify-content: space-evenly; 
    max-width: 100%;
}




