h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

img{
    width: 100%; 
}

.flex2 {
            display: flex;
            justify-content: space-evenly; /*Centrage "équitablement" */
            align-items: center; 
           

        }



