h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.conteneur {
            border: 1px solid black;
            margin: 20px;
            height: 80px;
            overflow: hidden; /* Pour "couper" ce qui dépasse du conteneur */
        }

img{
    width: 100%; 
}
  .flex {
            display: flex;
            justify-content: center; 
            align-items: center; 
            gap: 20px; 
        }
.flex2 {
            display: flex;
            justify-content: space-evenly; 
            align-items: center; 
           

        }



